# Fixes a crash on macOS due to the dynamic linker not recognizing homebrew libs
export DYLD_LIBRARY_PATH=""

# Set the virtual env name because it's created by uv, which differs from the direnv default dir
export VIRTUAL_ENV="/Users/mobin.azimipanah/Library/Mobile Documents/com~apple~CloudDocs/Desktop/Polimi/Zirak/.venv"
export VIRTUAL_ENV_PROMPT="Zirak"
layout python
dotenv_if_exists api_keys.env